/* @import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Bruno Ace SC", cursive;
  font-family: "Poppins", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.Link {
  text-decoration: none;
}

.indigo_gradient {
  @apply bg-gradient-to-r from-purple-600 to-indigo-500 bg-clip-text text-transparent;
}

.waves {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.waves svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 73px;
}

.waves .shape-fill {
  fill: #6366f1;
}
