/* @import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Bruno Ace SC", cursive;
  font-family: "Poppins", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.Link {
  text-decoration: none;
}
